body{    
    margin: 10px;
    height: 100vh;
    box-shadow: 10px 5px 9px rgb(164, 13, 147);
    margin-left: 0px;
    background-color: rgb(232, 152, 196);
}
.imagemSarah{
    margin: 0px;  
    margin-left: 0px;
    float: left;
    box-shadow: 10px 5px 9px black;
    border-radius: 50%;
}
.titulo{  
    margin-top: 0px; 
    background-color: rgb(247, 193, 220);   
}
.paragrafo{
    margin-bottom: 0px;        
    
}

